@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}


.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
}

.loading_text {
  color: #fff !important;
  margin-left: 20px;
}
